<div class="container">
        <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xl-5"><h2>Todo List</h2></div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xl-5" ><a [routerLink]="['/list']" class="nav-menu-item-link"><button>Back</button></a></div>
        </div>
        <div class="row">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div *ngIf="form.controls['title'].touched || form.controls['title'].dirty"> 
                        <div class="error" *ngIf="form.controls['title'].hasError('required')">Title is Required</div>
                        <div class="error" *ngIf="form.controls['title'].hasError('minlength')">Title is too short.</div>
                    <div class="error" *ngIf="form.controls['title'].hasError('maxlength')">Title is too large.</div>
                </div>
                <input formControlName="title" placeholder="Enter a Title">
                <button class="submit-form" type="submit">Submit</button>
             </form>
        </div>
</div>