<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-6 col-xl-10"><h2>Todo List</h2></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xl-2" ><a [routerLink]="['/todo-add']" class="nav-menu-item-link"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of todo_list; index as i;">
        <tr>
          <td>{{item.title}}</td>
          <td (click)="changeStatus(item._id,item.status,i)" [ngClass]="{'change_status': item.status == 'inactive'}" class="">{{item.status | titlecase}}</td>
          <td>{{changeTime(item.createdAt)}}</td>
          <td>
            <span class="edit-item"><a [routerLink]="['/todo-add',item._id]" class="nav-menu-item-link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
           <span (click)="deleteTodo(item._id, i)"><i class="fa fa-trash" aria-hidden="true"></i></span>
          </td>

        </tr>
      </tbody>
    </table>    
  </div>