<header class="header-top">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <a class="header-brand" href="index.html">
            </a>
            <div class="top-menu d-flex align-items-center responsive-menu-wrap">
                <ul class="nav-menu responsive-menu">
                    <li class="nav-menu-item"><a [routerLink]="['/']" class="nav-menu-item-link">Dashboard</a></li>
                    <li class="nav-menu-item"><a [routerLink]="['/list']" class="nav-menu-item-link">Todo<span class="dot"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>