/* You can add global styles to this file, and also import other style files */
#main-section {
    margin-top:60px;
}
*, ::after, ::before {
    box-sizing: border-box;
}

*, body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
 body {
  margin: 0;
  font-family: Proxima Nova;
 }
* {
    outline: none !important;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-top {
    background-color: #fff;
    z-index: 1030;
    position: relative;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
    -moz-box-shadow: 0 1px 15px rgba(0,0,0,0.04),0 1px 6px rgba(0,0,0,0.04);
    box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

a {
    color: #212121;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.change_status {
    color:#e74c3c;
  }
.edit-item {
    margin-right:5px;
}
.submit-form {
    margin-left:5px;
}

.ik {
    font-family: iconkit!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-top {
	.top-menu {
		 .dropdown {
		    margin-left: 10px;
		}
		.nav-link {
		    width: 36px;
		    height: 36px;
		    padding: 0;
		    text-align: center;
		    line-height: 36px;
		    color: #212121;
		    background-color: transparent;
		    border: none;
		    position: relative;
		    border-radius: 50%;
		    -webkit-border-radius: 50%;
		    -moz-border-radius: 50%;
		    -moz-transition: all 0.5s ease-in-out;
		    -o-transition: all 0.5s ease-in-out;
		    -webkit-transition: all 0.5s ease-in-out;
		    transition: all 0.5s ease-in-out;

		    i {
				font-size: 16px;
			}
			.badge {
			    right: -4px;
			    position: absolute;
			    top: 4px;
			    padding: 3px;
			    width: 20px;
			    font-size: 11px;
			    font-weight: 800;
			    color: #fff;
			    border-radius: 100px;
			    -webkit-border-radius: 100px;
			    -moz-border-radius: 100px;
			    border: 1px solid #fff;
			}
		}
	}
	
}

.ml-10 {
    margin-left: 10px !important;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}


.header-top {
 .top-menu {
	.dropdown {
	   margin-left: 10px;
	}
	.avatar {
	    color: #4c5667;
	    font-weight: 600;
	    width: 36px;
	    height: 36px;
	    line-height: 36px;
	    border-radius: 50%;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    display: inline-block;
	    background: #ced4da no-repeat center/cover;
	    position: relative;
	    vertical-align: bottom;
	    font-size: .875rem;
	    user-select: none;
	}
 }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-menu {
    padding: 5px;
    font-size: 12px;
    background-color: #fff;
    border-color: transparent;
    margin: 0;
    width: 170px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 30px rgba(0,0,0,0.08);
    -moz-box-shadow: 0 2px 30px rgba(0,0,0,0.08);
    box-shadow: 0 2px 30px rgba(0,0,0,0.08);
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}


.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.bg-danger {
    background-color: #f5365c !important;
}

.bg-success {
    background-color: #2dce89 !important;
}
.bg-primary {
    background-color: #007bff;
}

.top-menu {
	 ul {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    list-style-type: none;
	    padding-left: 0;
	    margin: 0;
		
		li {
		    padding: 0 20px;
		    position: relative;

		    &::before {
			    content: "";
			    background: #00b77e;
			    width: calc(100% - 40px);
			    left: 20px;
			    right: 20px;
			    position: absolute;
			    height: 4px;
			    bottom: -26px;
			    opacity: 0;
    			visibility: hidden;
			}
			&:hover a {
				font-family: 'proxima_nova_altbold';
			}
			&:hover::before {
				opacity: 1;
    			visibility: visible;
			}

		    a {
			    text-decoration: none;
			    font-family: Proxima Nova;
			    font-size: 13px;
			    line-height: 15px;
			    text-align: center;
			    text-transform: uppercase;
			    color: #383838;
			    position: relative;
			}
		}
	}	
}

.dot {
    background: #FF5560;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: -4px;
    right: -8px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card {
    border-color: #ffff;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #FFFFFF;
	border: 1px solid #C2CCD1;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card {
	 .card-header {
	    padding: 20px 20px;
	    border: 0;
	    background: none;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-align-items: center;
	    -moz-align-items: center;
	    -ms-align-items: center;
	    align-items: center;
	}	
}

.card {
	.card-header {
	    border-bottom: 1px solid rgba(194, 204, 209, .35);
	}
	&:first-child {
	    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	}
} 

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card {
	.card-body {
	    padding: 20px 20px;
	    flex: 1 1 auto;
	    position: relative;
	}	
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.h3, h3 {
    font-size: 1.75rem;
}

.card .card-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #212121;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

.card {
	 .activity-box {
		  .activity-list {
		    margin: 0;
		    padding: 0;
		    list-style: none;
				.activity-item {
				    list-style: none;
				    margin-top: 0;
				        display: flex;
					    align-items: flex-start;
					    flex-direction: row;
					    justify-content: flex-start;
					    padding: 15px 20px;
    					border-top: 1px solid rgba(194, 204, 209, .35);

				    &:first-child {
					    border-top: 0;
					}
					.activity-img {
					    display: inline-block;
					    width: 40px;
					    vertical-align: top;

					    img {
						    width: 40px;
						    border-radius: 100%;
						    -webkit-border-radius: 100%;
						    -moz-border-radius: 100%;
						}
					}
					.activity-icon {
					    background: #FF5560;
					    width: 40px;
					    height: 40px;
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    border-radius: 100%;
					}

					.bell-icon {
						background: #FF5560;		
					}
					.approved-icon {
						background: #00CEC1;		
					}
					.doc-icon {
						background: #DB5FFC;	
					}
					.activity-content {
					    width: calc(100% - 40px - 105px - 20px);
					    display: inline-block;
					    padding-left: 15px;
					    padding-right: 5px;
					}
					.activity-add {
					    display: inline-block;
					    width: 105px;
					    vertical-align: top;
					   	text-align: center;
					   	align-self: center;
					}
				}
		}

	 }
	
}

.h6, h6 {
    font-size: 1rem;
}

 .main-content {
    padding: 30px 0;
    background-color: #F6F7FB;
    min-height: calc(100vh - 120px);
    margin-top: 60px;
    padding-right: 0;
    padding-left: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.activity-box {
    padding: 0 !important;
}

.activity-photos-box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: .5rem;
    margin-top: .5rem;
    flex-wrap: wrap;
}

.activity-photo {
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.activity-info {
    font-family: Proxima Nova;
    font-size: 12px;
    line-height: 14px;
    color: #383838;
}

.activity-title {
    margin-bottom: 0;
    font-family: Proxima Nova;
    font-size: 13px;
    line-height: 15px;
    color: #4C84FF;
    font-family: 'proxima_nova_altbold';
}
.activity-title-name  {
	font-family: 'proxima_nova_altbold';
    font-size: 13px;
    line-height: 15px;
    color: #4C84FF;
    text-decoration: none;

}

.activity-time {
    font-family: Proxima Nova;
    font-size: 11px;
    line-height: 13px;
    color: #8F99A1;
}

.activity-view-btn {
    font-family: Proxima Nova;
    font-size: 11px;
    line-height: 13px;
    text-decoration-line: underline;
    color: #8F99A1;
}

.search-box i {
    width: 20px;
    height: 20px;
}

.search-box input {
    width: calc(100% - 20px - 5px);
    margin-left: 5px;
    padding: 8px 10px;
    border: 0;
}

.search-box {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-start;
}

.update-text {
    font-size: 13px;
    line-height: 15px;
    color: #383838;
    font-family: 'proxima_nova_altbold';
}

.alert-text {
    font-size: 13px;
    line-height: 15px;
    color: #FF5560;
    font-family: 'proxima_nova_altbold';
}

.activity-info {
	ul {
	    padding-left: 0;
	    margin: 0;

	    li {
		    list-style-type: none;
		    position: relative;
		    padding-left: 10px;
		    display: inline-block;
		    margin-right: 5px;
		    min-width: 150px;
			
			&::before {
			    content: "";
			    width: 4px !important;
			    height: 4px !important;
			    background: #AFB8BF;
			    display: block;
			    position: absolute;
			    left: 0;
			    top: 5px;
			    border-radius: 100%;
			}
			&:first-child {
				padding-left:0;
			}
			&:first-child::before {
			    content: none;
			}
		}
	}
	
}


.activity-action {
	ul {
	    padding-left: 0;
	    margin: 0;

	    li {
	      display: inline-block;
	      margin-right: 10px;
	      list-style-type: none;
	    }

	}
}

.link-sign {
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	text-decoration-line: underline;
	color: #00D290;
}

.link-view {
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	text-decoration-line: underline;
	color: #8F99A1;
}

.builder-box {
	padding: 0 !important;
	 ul {
	    padding-left: 0;
	    margin: 0;

	    li {
		    list-style-type: none;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-align: start;
		    -ms-flex-align: start;
		    align-items: flex-start;
		    -webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
		    -ms-flex-direction: row;
		    flex-direction: row;
		    -webkit-box-pack: start;
		    -ms-flex-pack: start;
		    justify-content: flex-start;
		    padding: 15px 20px;
		    border-top: 1px solid rgba(194, 204, 209, 0.35);

		    &:first-child {
		    	border-top: 0;
		    }
		}

	}	
}

.builder-1 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.builder-4 {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;

    img {
	    width: 30px;
	    border-radius: 100%;
	    -webkit-border-radius: 100%;
	    -moz-border-radius: 100%;
	}
}

.builder-3 {
    width: 50px;
    display: inline-block;
    margin-right: 20px;
}

.status-text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #FF5560;
}

.status {
    background: #000;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    padding: 2px 4px;
    border-radius: 20px;
    margin-top: 5px;
}

.builder-title {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #383838;
    margin-bottom: 6px;
}

.builder-text {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8F99A1;
}

.builder-2 {
    width: calc(100% - 30px - 50px - 30px - 30px);
    display: inline-block;
    margin-right: 10px;
}

.high {
    background: #FF5560;
}
.medium {
	 background: #FFC100;
}

.final {
	 background: #00B77E;
}

.add-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #00D290;
    text-decoration: none;
    border: 1px solid #00D290;
    padding: 8px 16px;
    border-radius: 2px;
}


.builder-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;

    .search-box {
	    max-width: 170px;
	}
}

.card-label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #383838;
    margin-bottom: 20px;
    font-family: 'proxima_nova_altbold';
}

a.dropdown-item {
    display: block;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 2px;
}
a.dropdown-item:hover {
    background-color: #daecff;
    text-decoration: none;
}
$breakpoint-tables: 768px;
$breakpoint-mobile-lg: 767px;

@media (min-width: $breakpoint-tables) {
    .responsive-toggle {
        display: none;
    }
}
@media (max-width: $breakpoint-mobile-lg) {
    .card {
        .activity-box {
            .activity-list {
                .activity-item {
                    .activity-content {
                        width: calc(100% - 40px - 40px - 20px);
                    }
                    .activity-add {
                        width: 40px;
                    }
                }
            }
        }        
    }
    .hideMob {
        display: none;
    }
    .responsive-menu {
        display: none !important;
    }
    .responsive-menu-wrap {
        order: -1;
    }
    .responsive-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 10px 0;
        width: 100%;
        border-top: 1px solid rgba(143, 153, 161, .2);
        border-bottom: 1px solid rgba(143, 153, 161, .2);

        li {
            padding: 12px 20px !important;
        }
    }
    .responsive-menu.show {
        display: block !important;
    }
}
